
<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/css/style.css">
		<meta charset="utf-8"/>



		<title>Accueil</title>

	</head>

	<body>


		<section id="dashbord">  
	
           	<a class = "button" id = "manipulation" href="/manipulation"><button>Manipulation du robot</button></a>
           	<a class = "button" id="comptes" href="/comptes"><button>Gestion des comptes</button></a>
           	<a class = "button" id= "profil" href="/profil"><button>Gestion du profil</button></a>
			<a class = "button" id="autreEntrer"><button>Surveillance autonome</button></a>
           	<a class = "button" id="deconnection" href="/"><button>Deconnexion</button></a>
			
            
		</section>

		<footer>

			<h1 id="propos">A propos</h1>
			<div id="info">
				<div id="auteur">
					<h1 id="titre">Auteurs</h1>
					
					<ul>TIGHILT Massinissa</ul>
					<ul>BARACHE Syphax</ul>
					<ul>KAHLOUCHE SOUHILA (PROMOTRICE)</ul>
					
				</div>
				<div id="cors">
					<h1 id="titre">Coordonnées</h1>
					<ul>masnssen@gmail.com</ul>
					<ul>syphaxbarache61@gmail.com</ul>
					<ul>skahlouche@cdta.dz</ul>
				</div>

				<div id="liens">
					<h1 id="titre">Liens</h1>
					<ul><a class="sous" href="https://www.cdta.dz/">The Center for the Development of Advanced Technologies (CDTA)</a></ul>
					<ul><a class="sous" href="https://www.usthb.dz/fr">Université des Sciences et de la Technologie Houari Boumediene (USTHB)</a></ul>
				</div>
				
			</div>
			
           
		</footer>
		<script type="text/javascript">
			var id = <%-id%>;
		</script>
		<script type="text/javascript" src="/js/principale.js"></script>

	</body>
</html>