<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/css/robot.css">
		<meta charset="utf-8">
		<title>Robot</title>
	</head>
	
	<body id="body">
		<button id="allumer">Allumer</button>
		<video id="vidCamera" autoplay="true" poster="/images/agent.jpg">Camera</video>
		<script src="/js/simplepeer.min.js"></script>
		<script type="text/javascript" src="/socket.io/socket.io.js"></script>
		<script type="text/javascript" src="/js/robot.js"></script>
	</body>
</html>